extends layout

block content
  div(class="container")
    h1(class="display-1")= title
    div(class="row")
      div(class="col-sm-3")
      div(class="col-sm-6")

        div(class="swiper")
          div(class="slide portrait") Welcome to #{title}
          div(class="slide") Blah blah blah

      div(class="col-sm-3")