extends layout

block content
  div(class="container")
    h1(class="display-1")= title
    div(class="row")
      div(class="col-sm-3")
      div(class="col-sm-6")

        div(class="swiper")

          div(class="slide intro", data-bind="css: { intro: intro(), portrait: !intro() }")

            // ko if: intro
            | Welcome to #{title}
            // /ko
            
            // ko ifnot: intro
            | Hiya #[span(data-bind="text: name")]
            // /ko

          div(class="slide")

      div(class="col-sm-3")